@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  user-select: none;
}

.remove-scrollbar::-webkit-scrollbar {
  display: none;
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: rippling 800ms;
  z-index: 10;
}

.wobble {
  transform-origin: top;
  animation: wobbling 5s infinite;
}

@keyframes rippling {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(30);
  }
}

@keyframes wobbling {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
